*{
	margin: 0;
	padding: 0;

}

html, body{
	height: 100%;
}

/*
ul{
	list-style-position: inside;
}
*/

/*

ATACA APENAS AO TIPO ESPECIFICADO

ul li:nth-of-type(2){
	color: red;
}
*/

/*

ATAQUE DE ACORDO COM OS FILHOS

ul span:nth-child(6){
	color: red;
}
*/

.box{
	width: 100%;
}

.box div{
	box-sizing: border-box;
	float: left;
	width: 33.3%;
	height: 400px;
	background-color: red;
	border: 1px solid black;
}

/*

Não ataque a classe selecionado com operador not

.box div:not(.one){
	background-color: green;
}

*/

/*
.box div:last-of-type p{
	color: blue;
}

*/

/*

Ataque o utimo elemento

.box div:last-of-type{
	background-color: green;
}

.box p:last-of-type{
	color: blue;
}
*/