*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.table {
    display: table;
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-cel {
    height: 100px;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #000;
    display: table-cell;
    text-align: center;
}